name: Deploy to Firebase Hosting on push to main

on:
  push:
    branches:
      - main

permissions:
  contents: read
  checks: write

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      # Clonar el repo
      - uses: actions/checkout@v4

      # Desplegar a Firebase Hosting
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PIA_PAGINAS_WEB }}
          projectId: pia-paginas-web       # ID de tu proyecto Firebase
          channelId: main-preview          # Canal de preview
